body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.hero {
    background-color:#eef7ee;
    text-align: left;
    padding: 50px 150px;
}
.hr h2{
    text-align: end;
}

.hero h1 {
    margin: 0;
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
}

.shop-now {
    background-color: white;
    color: #eef7ef;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.products {
    padding: 20px;
}

.products h2 {
    text-align: center;
    margin-bottom: 20px;
}

.product-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

.product-card img {
    max-width: 50%;
    height: auto;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    font-size: 1.2em;
    color: #333;
}

.product-card button {
    background-color: #e2eee2;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.product-card button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}